<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 为网页定义描述内容: -->
    <meta name="description" content="来吧, 畅所欲言"/>
    <!-- 为搜索引擎定义关键词: -->
    <meta name="keywords" content="TT, talk_talk">
    <!-- 定义网页作者: -->
    <meta name="author" content="Torvalds">
    <!-- 每30秒钟刷新当前页面: -->
    <!-- <meta http-equiv="refresh" content="30"> -->
    <!-- The redirects to the provided URL in 5 seconds. Set to 0 for an immediate redirect. -->
    <!-- 10秒钟后跳转 百度页面 -->
    <!-- <meta http-equiv="refresh" content="10;url=http://www.baidu.com/"> -->

    <title>Bootstrap 101 Template</title>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= yield :stylesheet %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= yield :javascript %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <%= yield %>
  </body>
</html>
